<%- include("Header.ejs")%> 
<body class="Dream">
<p>
    <p>
        A Dream
    </p>
    <p>I had once gone to Ujjaini</p>
    <p>On the banks of the river Shipra</p>
    <p>Far far away in that land of dreams</p>
    <p>To seek the first love of my former life.</p>
    <p>She had lodhra* powder on her face</p>
    <p>A lotus she playfully held in her hand</p>
    <p>She stuck buds of kunda in her ears</p>
    <p>And kurubak flower in her hair</p>
    <p>Her slim body she dressed in red</p>
    <p>With a knot at her waist</p>
    <p>Anklets gently jingled on her feet.</p>
    <p>It was on a day in spring</p>
    <p>To find my way I had to travel long</p>
    <p>In that unknown land.</p>
    <p>In the temple of Mahakal</p>
    <p>The evening prayer bell rang</p>
    <p>The crowded roads were now empty</p>
    <p>The dusk was falling</p>
    <p>And the rooftops were glowing</p>
    <p>With the rays of setting sun.</p>
    <p>My beloved's home</p>
    <p>On a lonely narrow serpentine street</p>
    <p>Was difficult to reach.</p>
    <p>On the door was painted</p>
    <p>A conchshell and a discus</p>
    <p>On either side of its entrance</p>
    <p>Grew two young mango trees</p>
    <p>Like two beloved sons</p>
    <p>On a white pillar at the gate</p>
    <p>The statue of a lion stood.</p>
    <p>Her pigeons had returned home</p>
    <p>And on a golden bar</p>
    <p>Her peacock had gone to sleep</p>
    <p>With a lamp in her hand</p>
    <p>My Malabika slowly came down.</p>
    <p>She descended the stairs like a goddess</p>
    <p>Holding an evening star in her hand.</p>
    <p>The scent of flowers and her body</p>
    <p>Fell on me like warm breaths</p>
    <p>Her half-slipped dress</p>
    <p>Revealed her left breast</p>
    <p>Painted in chandan paste.</p>
    <p>Seeing me my beloved</p>
    <p>Put down the lamp on the stairs</p>
    <p>And stood before me.</p>
    <p>She held my hand</p>
    <p>And silently asked with her anxious eyes,</p>
    <p>'How are you, my friend?'</p>
    <p>Looking at her I tried to reply</p>
    <p>But no words came.</p>
    <p>I had forgotten her language</p>
    <p>Both of us tried hard</p>
    <p>But failed to remember our names.</p>
    <p>Only silent tears</p>
    <p>Trickled down our eyes.</p>
    <p>Sitting under the tree</p>
    <p>We thought and thought</p>
    <p>As a bird seeks its nest at the day's end</p>
    <p>Her hands sought mine</p>
    <p>Like a lotus bending on its stem</p>
    <p>She slowly bent her head on my breast</p>
    <p>And our warm eager breaths</p>
    <p>Silently mingled.</p>
    <p>In the darkness of night</p>
    <p>Ujjaini was lost</p>
    <p>At the gate</p>
    <p>The lamp went out</p>
    <p>In the temple</p>
    <p>On the banks of Shipra</p>
    <p>The prayers stopped.</p>
</body>