<%- include("Header")%>
<body class="Hundred">
    <p>
        A Hundred Years Hence 
    </p>
    <p>A hundred years since</p>
    <p>Who is it</p>
    <p>With such curiosity</p>
    <p>Reads my poems</p>
    <p>A hundred years since</p>
    <p>Shall i be able to send you</p>
    <p>An iota of joy of this frsh  spring morning</p>
    <p>The flower that blooms today</p>
    <p> the song the birds sing</p>
    <p>The glow of todays setting sun</p>
    <p>Filled with feelings of my love</p>
    <p></p>
    <p>Yet for a moment</p>
    <p>Open up your southern gate</p>
    <p>And take your seat your window</p>
    <p>Look at the far horizon</p>
    <p>and visualize in your mind</p>
    <p>One hundred years ago:-</p>
    <p>A restless ecstasty dipped from the sky</p>
    <p>And touched the heaert of this world</p>
    <p>The early spring mad with joy</p>
    <p>Knew no bounds</p>
    <p>Spreading its restless wings</p>
    <p>The southern breeze blew</p>
    <p>Carrying the cent of flowers pollen</p>
    <p>All of a sudden soon</p>
    <p>They colored the world with a youthful glow</p>
    <p>A hundred years ago</p>
    <p>The day a yound poet kept awake</p>
    <p>With a excited heart filled with songs</p>
    <p>With so much adour</p>
    <p>Anxious to express so much pain</p>
    <p>Like buds of flowers straining to bloom</p>
    <p>One hundred a years ago</p>
    <p></p>
    <p>A hundred years hence</p>
    <p>Will that young poet</p>
    <p>Sing songs in your homes </p>
    <p>For him</p>
    <p>I send my tidings of joy and pain in this spring </p>
    <p>Let it echo for a moment</p>
    <p>In your spring in your heartbeats</p>
    <p>In the humming of the bees</p>
    <p>In the rustling of the leaves</p>
    <p>A hundred years since</p>
</body>