<%- include("Header.ejs")%>
<body class="Poems1">
    <p>Bengali Poems</p>
    <p>A Dream</p>
    <form action="/views/Poem1" method="post"> 
        <button class="Button1" id="Poem1" type="Submit">View Poem</button>
    </form>
    <p>A Hundred Years Hence</p>
    <form   action="/views/Poem2 " method="post"> 
        <button class="Button2" id="Poem2" type="Submit">View Poem</button>
    </form>
    <p>A Moments Indulgance </p>
    <form  action="/views/Poem3 " method="post"> 
        <button class="Button3" id="Poem3" type="Submit">View Poem</button>
    </form>
    <p>The sky full of sun and stars</p>
    <form   action="/views/Poem4" method="post"> 
        <button class="Button4" id="Poem4" type="Submit">View Poem</button>
    </form>
</body>