<%- include("Header") %>
<body class="Sky">
    <p class="Position1">Akash bhora surjo dara</p>

<p class="Position2"> The sky is full of the sun and the stars</p>
<p>The universe is full of life</p>
<p>Among all these I have found a place</p>
<p>And in wonder and amazement I sing.</p>
<p>The world is swayed</p>
<p>By eternity’s rushing tide</p>
<p>Rising and falling</p>
<p>I have felt its tug in my blood</p>
<p>Racing through my veins</p>
<p>And in wonder and amazement I sing.</p>
<p>While walking in the woodlands</p>
<p>With my feet I have touched the blades of grass</p>
<p>I have been startled by the flowers’ fragrance</p>
<p>They have all maddened my mind</p>
<p>The gifts of gladness and joy</p>
<p>Are strewn all around</p>
<p>And in wonder and amazement I sing.</p>
<p>I have pricked my ears</p>
<p>I have opened my eyes</p>
<p>I have bared my heart to the world</p>
<p>In the midst of the known</p>
<p>I have sought the unknown</p>
<p>And in wonder and amazement I sing.</p>
</body>